<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='spam-favicon.ico') }}">
    <!-- Chart.js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <!-- Boostrap v5 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!-- Boostrap v5 JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    <title>COVID-19 Tweet Classification</title>
    <style>
        body {
            background-image: url('/static/backround.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
        }
    </style>
    <script>
        function startDictation() {

            if (window.hasOwnProperty('webkitSpeechRecognition')) {

                var recognition = new webkitSpeechRecognition();

                recognition.continuous = false;
                recognition.interimResults = false;

                recognition.lang = "en-US";
                recognition.start();

                recognition.onresult = function (e) {
                    document.getElementById('text').value
                        = e.results[0][0].transcript;
                    recognition.stop();
                    document.getElementById('form').submit();
                };

                recognition.onerror = function (e) {
                    recognition.stop();
                }

            }
        }

    </script>
</head>

<body>
    <div class="container-fluid d-flex justify-content-center mt-3 p-3">
        <!-- Content here -->
        <div class="card">
            <div class="card" style="width: 32rem;">
                <img src="static\SARCASME DETECTION.jpeg" class="card-img-top" alt="SARCASME_DETECTION">
                <div class="card-header bg-primary bg-gradient text-white font-weight-bolder">
                    <h4>FEEDBACK SARCASM DETECTION</h4>
                </div>
                <div class="card-body">
                    <p class="card-text text-center">The objective of this Deep Learning model is to assess if a
                        feedback about related to sarcasm or not.</p>
                    <form class="text-center" id="form" action="{{ url_for('predict') }}" method="POST">
                        <div class="input-group">
                            <span class="input-group-text">Enter Text</span>
                            {% if text %}
                            <textarea class="form-control" name="text" id="text" placeholder="{{ text }}"
                                aria-label="With textarea" style="margin-top: 0px; margin-bottom: 0px; height: 80px;"
                                x-webkit-speech></textarea>
                            {% else %}
                            <textarea class="form-control" name="text" id="text" placeholder="Please Enter Your Text Here"
                                aria-label="With textarea" style="margin-top: 0px; margin-bottom: 0px; height: 80px;"
                                x-webkit-speech></textarea>
                            {% endif %}
                        </div>
                        <div class="align-self-center mt-2">
                            <img onclick="startDictation();this.src='static/voice_ani.gif';" id="imgClickAndChange"
                                class="mt-3" src="static/voice_input.png" width="40" height="40" />
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Identify Sarcasm Now</button>
                    </form>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                Design & Developed By <bold>Brute Force Team</bold>
                <a href="https://github.com/TechyNilesh/" class="link-secondary">GitHub</a>
            </div>
        </div>
        <!-- <figure class="figure">
      <img src="/static/covid19tweets.jpeg" class="ml-5 figure-img rounded float-right border border-white" style="width: 400px; height:400px;"  alt="...">
      <figcaption class="figure-caption text-center text-white">Predication Probability</figcaption>
    </figure> -->
        <div class="ml-5 text-center">
            <h2 class="bg-white rounded border-primary border-5"> Sarcasm Probability</h2>
            <canvas id="chart" width="600" height="400" class="bg-white rounded border-primary"></canvas>
            <script>
                // bar chart data
                var barData = {
                    labels: [
                        {% for item in labels %}
                "{{ item }}",
                    {% endfor %}
      ],

                datasets: [{
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    data: [
                        {% for item in values %}
                 "{{ item }}",
                {% endfor %}
                ]
            }
          ]
        }

                // get bar chart canvas
                var mychart = document.getElementById("chart").getContext("2d");

                steps = 10
                max = 100

                // draw bar chart
                new Chart(mychart).Bar(barData, {
                    scaleOverride: true,
                    scaleSteps: steps,
                    scaleStepWidth: Math.ceil(max / steps),
                    scaleStartValue: 0,
                    scaleShowVerticalLines: true,
                    scaleShowGridLines: true,
                    barShowStroke: true,
                    scaleShowLabels: true
                }
                );

            </script>
            <div class="card bg-light">
                <div class="card-body ">
                    <h6>Text Sentiment Analysis</h6>
                    <div class="alert alert-primary" role="alert">
                        <b>Polarity:</b> {{pol}} <b>Subjectivity:</b> {{sub}}
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        <b>Sentiment:</b> {{sentiment}}
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>